{{/*
        Counting command. Count and have fun!
        
	See <https://yagpdb-cc.github.io/fun/counting-v2/overview>
	
        Author: H1nr1 <https://github.com/H1nr1>
*/}}

{{/* Configurable Values */}}
{{ $Admin := 123456789 }} {{/* Administrator role ID; EDIT THIS TO A ROLE ID YOU HAVE */}}
{{/* Optional */}}
{{ $CountTwice := false }} {{/* Allow users to count multiple times in a row; true/false */}}
{{ $RoleID := false }} {{/* Counting role ID; set to false to disable */}}
{{ $SecondChance := true }} {{/* Second chance if wrong; true/false */}}
{{ $StatsCC := true }} {{/* If you added the Stats CC; true/false */}}
{{ $Reactions := true }} {{/* Allow confirmative reactions on message; true false */}}
	{{ $ReactionDelete := true }} {{/* Toggle for reactions to delete from last message; true/false */}}
	{{ $CorrectEmoji := "✅" }} {{/* Emoji to react with if number is correct; if custom, use format name:id */}}
	{{ $WarningEmoji := "⚠️" }} {{/* Emoji to react with if wrong number AND Second Chance is true/on; if custom, use format name:id */}}
	{{ $IncorrectEmoji := "❌" }} {{/* Emoji to react with if number is incorrect; if custom, use format name:id */}}
{{/* End of configurable values */}}
 
{{/* No Touchy */}}
{{ with .ExecData }}
	{{ if not (getMessage nil .) }} {{/* Check if number was deleted */}}
		{{ sendMessage nil (cembed 
			"description" (print (userArg (dbGet 0 "Last").Value.User).Mention " deleted their number which was correct!\nThe next number is " (dbGet 0 "Next").Value)
			"color" 30654) }}
	{{ return }}{{ end }}
{{ return }}{{ end }}
 
{{/* Initializing variables */}}
{{ $Last := (dbGet 0 "Last").Value }}
{{ $Next := toInt (dbGet 0 "Next").Value }}
{{ $Number = toInt (round (slice ($Number := (exec "calc" (index .Args 0))) 9 (sub (len $Number) 1))) }}
{{ $HighScoreValue := (dbGet 0 "CountHighScore").Value.Number }}
{{ $Wrong := "" }}
{{ if $SecondChance }}
	{{ $Wrong = toInt (dbGet 0 "CSecondChance").Value }}
{{ end }}
{{ $Silence := "" }}
 
{{ if and (hasRoleID $Admin) (eq $Number 0) }}
	{{ if lt (toInt (dbGet 0 "Admin").Value) 1 }}
		{{ dbSet 0 "Last" (sdict "User" .User.ID "Msg" .Message.ID) }}
		{{ dbSet 0 "Next" 1 }}
		{{ dbIncr 0 "Admin" 1 }}
		{{ addReactions $CorrectEmoji }}
	{{ return }}{{ end }}
{{ return }}{{ end }}
 
{{ if or (ne $Last.User .User.ID) $CountTwice }} {{/* Checks user */}}
	{{ if eq $Next $Number }} {{/* Checks if correct number */}}
		{{ $Silence = dbIncr 0 "Next" 1 }}
		{{ dbSet 0 "Last" (sdict "User" .User.ID "Msg" .Message.ID) }}
		{{ if $Reactions }}
			{{ addReactions $CorrectEmoji }}
			{{ if $ReactionDelete }}
				{{ deleteMessageReaction nil $Last.Msg 204255221017214977 $CorrectEmoji }}
			{{ end }}
		{{ end }}
		{{ if $RoleID }} {{/* Counting role */}}
			{{ takeRoleID $Last.User $RoleID }}
			{{ giveRoleID .User.ID $RoleID }}
		{{ end }}
		{{ if $StatsCC }} {{/* Updates leaderboard values */}}
			{{ $Silence = dbIncr .User.ID "CCorrect" 1 }}
			{{ $Silence = dbIncr .User.ID "CCount" 1 }}
			{{ if gt $Number $HighScoreValue }}
				{{ dbSet 0 "CountHighScore" (sdict "Number" $Number "User" .User.ID) }}
			{{ end }}
		{{ end }}
		{{ execCC .CCID nil 10 .Message.ID }} {{/* Call to check if message was deleted */}}
		
	{{ else }} {{/* Wrong number */}}
		{{ if $SecondChance }}
			{{ $Wrong = toInt (dbIncr 0 "CSecondChance" 1) }}
			{{ if eq $Wrong 1 }} {{/* Saved count */}}
				{{ if $Reactions }}
					{{ addReactions $WarningEmoji }}
				{{ end }}
				{{ sendMessage nil (cembed 
					"description" (print .User.Mention " sent an incorrect number of " $Number "\n**But**, second chance saved the count!\nThe next number is " $Next)
					"color" 16744192) }}
			{{ else if ge $Wrong 2 }} {{/* Reset count */}}
				{{ if $Reactions }}
					{{ addReactions $IncorrectEmoji }}
				{{ end }}
				{{ sendMessage nil (cembed 
					"description" (print .User.Mention " sent an incorrect number of " $Number "\nCorrect number was " $Next "\nStart over at 1 🙃")
					"color" 16711680) }}
				{{ dbSet 0 "Next" 1 }}
				{{ if not $CountTwice }}
					{{ dbSet 0 "Last" (sdict "User" 0 "Msg" .Message.ID) }}
				{{ end }}
				{{ dbSet 0 "CSecondChance" 0 }}
				{{ if $StatsCC }}
					{{ $Silence = dbIncr .User.ID "CCount" 1 }}
				{{ end }}
			{{ end }}
 
		{{ else if or (ge $Wrong 2) (not $SecondChance) }} {{/* Reset count */}}
			{{ dbSet 0 "Next" 1 }}
			{{ if not $CountTwice }}
				{{ dbSet 0 "Last" (sdict "User" 0 "Msg" .Message.ID) }}
			{{ end }}
			{{ if $SecondChance }}
				{{ dbSet 0 "CSecondChance" 0 }}
			{{ end }}
			{{ if $Reactions }}
				{{ addReactions $IncorrectEmoji }}
			{{ end }}
			{{ sendMessage nil (cembed 
				"description" (print .User.Mention " sent an incorrect number of " $Number "\nCorrect number was " $Next "\nStart over at 1 🙃")
				"color" 16711680) }}
			{{ if $StatsCC }}
				{{ $Silence = dbIncr .User.ID "CCount" 1 }}
			{{ end }}
		{{ end }}
	{{ end }}
 
{{ else }} {{/* Same user */}}
	{{ sendMessage nil (cembed 
		"description" (print "You can't count twice in a row 🥲\nThe next number is " $Next)
		"color" 16744192) }}
{{ end }}
